<ion-header-bar class="bar-dark">
    <h1 class="title">CONTATO</h1>
</ion-header-bar>

<ion-content class="has-tabs-top">
    <div class="list">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Nome</span>
            <input type="text" placeholder="Digite seu nome...">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Assunto</span>
            <input type="text" placeholder="Digite o assunto...">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Mensagem</span>
            <textarea placeholder="Digite sua mensagem..."></textarea>
        </label>
        <button class="button button-block">
          Enviar Mensagem
        </button>        
    </div>
</ion-content>
