<ion-tabs class="tabs-dark tabs-icon-bottom tabs-top">
    <ion-tab href="#/t/home" title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab href="#/t/sobre" title="Sobre" icon-on="ion-ios-star" icon-off="ion-ios-star-outline">
        <ion-nav-view name="sobre-tab"></ion-nav-view>
    </ion-tab>
<!--    <ion-tab href="#/t/pedidos" title="Pedidos" icon-on="ion-ios-checkmark" icon-off="ion-ios-checkmark-outline">
        <ion-nav-view name="pedidos-tab"></ion-nav-view>
    </ion-tab>-->
    <ion-tab href="#/t/contato" title="Contato" icon-on="ion-ios-email" icon-off="ion-ios-email-outline">
        <ion-nav-view name="contato-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>